.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

img {
  height: 20vmin;
}

header {
  background-color: #3763bb;
  /* min-height: 100vh; */
  padding-left: 1ex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
